.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  table,
  td,
  th {
    border-spacing: unset;
  }

  td {
    padding: 10px;
    &.child-table {
      padding: 25px 20px;
    }
  }

  table {
    thead {
      tr {
        background-color: #0d5e8e;
        color: #fff;
      }
    }
    tbody {
      thead {
        tr {
          background-color: #0d5e8e;
          color: #fff;
        }
      }
      tr {
        background: #eefbff;
      }
    }
  }
}

.table-title {
  display: block;
  color: #14ab9e;
  margin-bottom: 10px;
}

.child-table {
  background-color: #fff;
  border: 1px solid #f1ecec;
  box-shadow: inset 0px 0px 13px 1px #00000042;
  table {
    width: 100%;
  }
}

.expand-arrow {
  cursor: pointer;
  display: display;
  font-size: 25px;
  &:hover {
    color: orange;
  }
}

.close-icon {
  cursor: pointer;
  display: flex;
  &:hover {
    color: red;
  }
}
